.row.content {
    height: 550px;
}
.sidebar {
    background-color: #f1f1f1;
    height: 100%;
    min-height: 100vh; /* 최소 높이를 화면의 전체 높이로 설정 */
}
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}
.header-top {
    background-color: white;
}
.card {
    margin-bottom: 20px;
    padding: 15px;
    /* padding-left: 15px;
       padding-right: 15px; */
}

/* .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
} */

.tableHeaderFixed {
    width: 100%;
}
.tableHeaderFixed thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tableHeaderFixed tbody tr td {
    vertical-align: middle;
}

.table tr td {
    vertical-align: middle;
}

.tableHeaderFixed tbody {
    display: block;
    overflow-y: auto;
    table-layout: fixed;
}
.tableHeaderFixed tbody {
    max-height: 400px;
}

tr.tr-hover-class:hover {
    background: lightgrey !important;
}

.nav-item .nav-link {
    font-size: larger;
}

.nav-item ul li a {
    font-size: larger;
    margin-left: 15px;
}

/* 메뉴 선택 시 색상 변경 */
/* .nav-link.active {
    background-color: #007bff;
    color: white;
    width: 100%;
    border-radius: 0.25rem;
} */

.nav-item div.active {
    background-color: #007bff;
    color: white;
    border-radius: 0.25rem;
    a {
        color: white;
    }
}

/* .nav-item div:hover {
    z-index: 2;

    background-color: lightgrey !important;
    color: white;
    border-radius: 0.25rem;
} */

/* .nav-item ul li a:hover {
    border-right: solid 3px #0056b3;
} */

/* 2단계 메뉴의 메인 메뉴 선택 시 아이콘 변경 */
.nav-item .nav-link[aria-expanded="false"] .submenu-icon::after {
    content: "\f0d7";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900; /* Fix version 5.0.9 */
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* 2단계 메뉴의 메인 메뉴 선택 시 아이콘 변경 */
.nav-item .nav-link[aria-expanded="true"] .submenu-icon::after {
    content: "\f0da";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900; /* Fix version 5.0.9 */
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* Style buttons */
.btn-download {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 15px;
}

.btn-excel-download {
    background-color: #007bff;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
    width: 90px;
    height: 40px;
    background: url("/images/icons8-ms-excel-2-32.png") #007bff;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-excel-download:hover {
    background-color: #0a58ca;
    color: white;
    border-color: #0a53be;
}

/* Darker background on mouse-over */
.btn-download:hover {
    background-color: #0a58ca;
    color: white;
    border-color: #0a53be;
}

.nav-menu-hover:hover {
    background: lightgrey !important;
    /* background-color: #007bff;
    a {
        color: white;
    } */

    /* z-index: 2;
    border-color: #007bff; */
}

.nav-menu-hover > a {
    text-decoration: none;
}

li.nav-menu-hover.active {
    background: lightgrey !important;
    /* background-color: #007bff !important;
    a {
        color: white;
    } */
}
